.navbar-light .navbar-nav .nav-link {
  color: var(--secondary-color);
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active-link {
  color: var(--primary-color);
  text-decoration: underline;
}
