<div class="container mt-5 mb-5">

  <h1 class="text-center">About</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quasi iure error optio rem repudiandae asperiores
    illum, veritatis, minima minus assumenda saepe inventore commodi corporis officiis accusantium repellendus tempore
    aliquid!
    <br />
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, obcaecati aspernatur quod voluptatum modi expedita
    officiis sequi asperiores sunt facilis pariatur, atque laboriosam! Id placeat, laudantium corrupti fuga sunt
    necessitatibus!
    <br />
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, odio quas accusantium cupiditate minima quia dicta
    ratione exercitationem error vitae aspernatur labore dolorum architecto aliquam hic neque, vero sapiente nisi.
    <br />
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error quae optio cumque, ea iusto alias esse labore,
    distinctio magni praesentium libero ipsum neque, similique mollitia! Odio rem temporibus soluta nihil?
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dignissimos quo sapiente ipsam, velit molestiae
    autem perferendis tempore libero fugit eligendi ad eaque aliquam possimus aut voluptatum animi ex qui!
    <br />
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt nulla assumenda voluptatum modi libero natus
    ipsum atque. Recusandae laudantium nisi minus. Deleniti, corporis nihil? Nisi reiciendis alias animi sed quos?
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nihil unde nostrum adipisci. Aperiam ex maiores
    quo accusantium, illum nihil eos reprehenderit, reiciendis quas nisi voluptates? Rerum quidem molestias aut!


  </p>
</div>
